<div class="flex justify-between py-4 px-8">
  <div class="flex items-center">
    <h1><%= link_to t("site_title"), root_url %> ๐</h1>
  </div>

  <div class="flex space-x-4">
    <%= link_to "English", locale: "en" %>
    <%= link_to "เดฎเดฒเดฏเดพเดณเด", locale: "ml" %>
    <%= link_to "Manglish", locale: "manglish" %>
  </div>
</div>